:root {
  --font-cookie: 'Cookie', cursive;
  --font-sans: 'Plus Jakarta Sans', sans-serif;

  --pink-100: #f9e9e9;
  --pink-300: #f5d3d2;
  --pink-500: #e4b2b3;
  --gray-700: #3b3a49;
  --gray-900: #363543;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-sans);
  color: var(--gray-900);
}

img {
  width: 100%;
}

h1,
h2,
h3 {
  line-height: 1;
  font-weight: 400;
}

ul {
  list-style: none;
}

.logo {
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 0.625rem;
  color: #3b3a49;

  .logo-display {
    font-family: var(--font-cookie);
    font-size: 2.5rem;
  }

  .logo-sans {
    font-family: var(--font-sans);
    font-size: 1.625rem;
  }
}

.header {
  width: min(100% - 2rem, 80rem);
  margin-inline: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 1.25rem;

  nav {
    position: fixed;
    right: 0;
    top: 0;
    height: 100vh;
    background: #fff;
    width: 60%;
    z-index: 999;
    text-transform: capitalize;
    box-shadow: 0 -3px 4px rgba(0, 0, 0, 0.2);
    font-size: 1.125rem;
    transform: translateX(100%);
    transition: all 0.3s ease-in-out;

    ul {
      list-style: none;
      margin-top: 6em;

      a {
        color: var(--gray-900);
        padding: 0.625rem 1.25rem;
        display: block;
        text-decoration: none;

        &:hover {
          background: var(--pink-100);
        }
      }
    }

    .close-menu {
      position: absolute;
      top: 10px;
      left: 10px;
      padding: 10px;
      cursor: pointer;
      font-size: 1.25rem;
      color: var(--gray-900);
    }

    &.menu-ativo {
      transform: translateX(0);
    }
  }
}

.menu-btn {
  cursor: pointer;
  font-size: 1.125rem;
  color: var(--gray-900);
}

.hero {
  width: min(100% - 2rem, 80rem);
  margin-inline: auto;
  background: var(--pink-100);
  border-radius: 1.875rem;
  padding-inline: 1.25rem;
  padding-block: clamp(60px, 12vw, 120px);
  display: grid;
  gap: 1.875rem;
  justify-content: center;
  text-align: center;

  h1 {
    font-weight: 700;
    font-size: clamp(30px, 4vw, 42px);
  }

  .hero-action {
    display: grid;
    gap: 1rem;

    p {
      font-size: 0.75rem;
      opacity: 80%;
    }
  }

  .hero-action_btn {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
  }
}

.btn {
  padding-inline: 1.875rem;
  border-radius: 100px;
  color: var(--gray-900);
  border: none;
  width: max-content;
}

.btn-cta {
  background: var(--pink-500);
  padding-block: 0.875rem;
  font-weight: 600;
  font-size: 1rem;
  cursor: pointer;
}

.btn-secondary {
  background: rgba(255, 255, 255, 0.8);
  text-decoration: none;
  font-weight: 500;
  font-size: 0.875rem;
  padding-block: 0.75rem;
}

@media (min-width: 680px) {
  .header {
    nav {
      transform: translateX(0);
      position: unset;
      display: block;
      width: auto;
      height: auto;
      background: none;
      box-shadow: none;

      ul {
        display: flex;
        margin: 0;
        gap: 1rem;

        a {
          font-size: 16px;
          border-bottom: 1px solid transparent;
          padding-inline: 0.375rem;

          &:hover {
            background-color: transparent;
            border-color: var(--pink-100);
          }
        }
      }

      .close-menu {
        display: none;
      }
    }

    .menu-btn {
      display: none;
    }
  }

  .hero {
    h1 {
      max-width: 600px;
    }

    > p {
      max-width: 400px;
      justify-self: center;
    }

    .hero-action_btn {
      flex-direction: row;
      justify-content: center;
    }
  }
}
