:root {
  --font-cookie: 'Cookie', cursive;
  --font-sans: 'Plus Jakarta Sans', sans-serif;

  --pink-100: #f9e9e9;
  --pink-300: #f5d3d2;
  --pink-500: #e4b2b3;
  --pink-500-hover: #e8bcbc;
  --gray-200: #aba1a7;
  --gray-700: #3b3a49;
  --gray-900: #363543;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-sans);
  color: var(--gray-900);
}

img {
  max-width: 100%;
  display: block;
}

h1,
h2,
h3 {
  line-height: 1;
  font-weight: 400;
}

ul {
  list-style: none;
}

.logo {
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 0.625rem;
  color: #3b3a49;

  .logo-display {
    font-family: var(--font-cookie);
    font-size: 2.5rem;
  }

  .logo-sans {
    font-family: var(--font-sans);
    font-size: 1.625rem;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 1.25rem;

  nav {
    position: fixed;
    right: 0;
    top: 0;
    height: 100vh;
    background: #fff;
    width: 60%;
    z-index: 999;
    text-transform: capitalize;
    box-shadow: 0 -3px 4px rgba(0, 0, 0, 0.2);
    font-size: 1.125rem;
    transform: translateX(100%);
    transition: all 0.3s ease-in-out;

    ul {
      list-style: none;
      margin-top: 6em;

      a {
        color: var(--gray-900);
        padding: 0.625rem 1.25rem;
        display: block;
        text-decoration: none;

        &:hover {
          background: var(--pink-100);
        }
      }
    }

    .close-menu {
      position: absolute;
      top: 10px;
      left: 10px;
      padding: 10px;
      cursor: pointer;
      font-size: 1.25rem;
      color: var(--gray-900);
    }

    &.menu-ativo {
      transform: translateX(0);
    }
  }
}

.menu-btn {
  cursor: pointer;
  font-size: 1.125rem;
  color: var(--gray-900);
}

.hero {
  background: linear-gradient(
    to bottom left,
    var(--pink-500),
    var(--pink-100),
    var(--pink-300)
  );
  border-radius: 1.875rem;
  padding-inline: 1.25rem;
  padding-block: clamp(80px, 12vw, 120px);
  display: grid;
  gap: 1.875rem;
  justify-content: center;
  text-align: center;

  h1 {
    font-weight: 700;
    font-size: clamp(30px, 4vw, 42px);
  }

  .hero-action {
    display: grid;
    gap: 1rem;

    p {
      font-size: 0.75rem;
      opacity: 80%;
    }
  }

  .hero-action_btn {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
  }
}

.btn {
  padding-inline: 1.875rem;
  border-radius: 100px;
  color: var(--gray-900);
  border: none;
  width: max-content;
  text-decoration: none;
}

.btn-cta {
  background: var(--pink-500);
  padding-block: 0.875rem;
  font-weight: 600;
  font-size: 1rem;
  cursor: pointer;

  &:hover {
    background: var(--pink-500-hover);
  }
}

.btn-secondary {
  background: rgba(255, 255, 255, 0.8);
  text-decoration: none;
  font-weight: 500;
  font-size: 0.875rem;
  padding-block: 0.75rem;
}

.services {
  padding-top: clamp(80px, 12vw, 100px);
  display: grid;
  justify-content: center;

  h2 {
    font-size: clamp(1.625rem, 4vw, 2rem);
    font-weight: bold;
    margin-bottom: 2.5rem;
  }

  .services-items {
    display: grid;
    grid-template-columns: 1fr;
  }

  .services-item {
    grid-template-rows: repeat(2, 330px);
    display: grid;
  }

  .services-item:nth-child(4) {
    grid-template-rows: repeat(1, 330px);
  }

  .services-item_img {
    order: 2;
    overflow: hidden;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      inset: 0;
      background: rgba(0, 0, 0, 0.1);
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }

  .services-item_info:first-child {
    p {
      color: red;
    }
  }

  .services-item_info {
    padding: 2.5rem;
    background: var(--pink-100);
    order: 1;
    display: grid;
    place-content: center;

    h4 {
      font-weight: 600;
      font-size: 1.25rem;
    }

    span {
      display: block;
      margin-block: 20px;
      width: 30px;
      height: 1px;
      background: var(--gray-200);
    }
  }

  .info-cta_item {
    padding: 2.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.25rem;
    border-bottom-right-radius: 60px;
    overflow: hidden;
    background-color: #fdf6f6;

    h3 {
      font-size: clamp(1.375rem, 4vw, 1.625rem);
      font-weight: bolder;
    }

    .btn-cta {
      width: max-content;
      height: max-content;
      margin-top: 30px;
    }
  }
}

.about {
  padding-top: clamp(80px, 12vw, 100px);
  display: flex;
  flex-direction: column;
  gap: 30px;

  .left {
    display: flex;
    flex-direction: column;
    gap: 30px;

    .about-info_img {
      height: 480px;
      overflow: hidden;
    }
  }

  .about-info {
    display: flex;
    flex-direction: column;
    gap: 30px;

    h2 {
      margin-bottom: 30px;
      font-size: clamp(1.75rem, 4vw, 2.125rem);
      font-weight: 600;
    }
  }

  .right {
    display: grid;
    gap: 30px;
  }

  .galery {
    .galery-top {
      max-height: 500px;
      overflow: hidden;
    }

    .galery-bottom {
      max-height: 340px;
      overflow: hidden;
    }
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
}

.container {
  width: min(100% - 2rem, 80rem);
  margin-inline: auto;
}

@media (min-width: 760px) {
  .header {
    nav {
      transform: translateX(0);
      position: unset;
      display: block;
      width: auto;
      height: auto;
      background: none;
      box-shadow: none;

      ul {
        display: flex;
        margin: 0;
        gap: 1rem;

        a {
          font-size: 16px;
          border-bottom: 1px solid transparent;
          padding-inline: 0.375rem;

          &:hover {
            background-color: transparent;
            border-color: var(--pink-100);
          }
        }
      }

      .close-menu {
        display: none;
      }
    }

    .menu-btn {
      display: none;
    }
  }

  .hero {
    h1 {
      max-width: 600px;
    }

    > p {
      max-width: 400px;
      justify-self: center;
    }

    .hero-action_btn {
      flex-direction: row;
      justify-content: center;
    }
  }

  .services {
    justify-content: start;

    .services-items {
      grid-template-columns: repeat(1, 1fr);
    }

    .services-item:nth-child(1) {
      border-top-left-radius: 60px;
      overflow: hidden;

      h4 {
        font-size: 1.375rem;
        font-weight: bold;
      }

      p {
        font-weight: 600;
      }

      .services-item_info {
        background-color: #fdf6f6;
      }
    }

    .services-item:nth-child(2) {
      .services-item_img {
        order: 2;
      }

      .services-item_info {
        order: 1;
      }
    }

    .services-item:nth-child(3) {
      .services-item_img {
        order: 2;
      }

      .services-item_info {
        background-color: #fdf8f8;
      }
    }

    .services-item {
      grid-template-rows: repeat(1, 330px);
      grid-template-columns: repeat(2, 1fr);
    }

    .services-item_img {
      order: 1;
    }

    .services-item_info {
      order: 2;
    }

    .info-cta {
      grid-template-columns: repeat(2, 1fr);
    }

    .info-cta_item {
      grid-column: span 2;
    }
  }

  .about {
    flex-direction: row;
    gap: 60px;

    .left {
      flex: 1;
      border-bottom-left-radius: 60px;
      overflow: hidden;
    }

    .about-info {
      padding-block: 80px;

      h2 {
        margin-bottom: 40px;
      }
    }

    .right {
      flex: 1;
      gap: 60px;
      border-top-right-radius: 60px;
      overflow: hidden;
    }
  }
}

@media (min-width: 960px) {
  .services {
    .services-items {
      grid-template-columns: repeat(2, 1fr);
    }

    .services-item:nth-child(2) {
      .services-item_img {
        order: 1;
      }

      .services-item_info {
        order: 2;
      }
    }

    .services-item:nth-child(3) {
      .services-item_img {
        order: 2;
      }

      .services-item_info {
        order: 1;
      }
    }
  }
}
